// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much


// have made most of the backgrounds simply white
figure.code
{
  background: #fff;
}

table
{
  background:#fff !important;
}

pre
{
  background:#fff !important;
}

input[type="text"]
{
  background: #f8f8f8 !important;
}

input[type="text"]:focus
{
  background: #fff !important;
}
